@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
@import "pixel-borders-mixins";



@font-face {
    font-family: 'ChicagoFLF';
    src: url('ChicagoFLF.woff2') format('woff2'),
        url('ChicagoFLF.woff') format('woff'),
        url('ChicagoFLF.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

// variables

$windows: 6;

:root {
   --window-border-color: black;
   --window-background: lightgray;
   --window-topbar-background: #ddd;
   --video-width: 100vw;
   --video-height: 100vh;
}
@media (min-aspect-ratio: 16/9) {
    :root {
      --video-height: 56.25vw;
    }
  }
  @media (max-aspect-ratio: 16/9) {
    :root {
      --video-width: 177.78vh;
    }
  }
body {
    font-family: 'ChicagoFLF', sans-serif;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: block;
    padding: 0;
    margin: 0;
    font-size: 12px;
}
.crt::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: -o-linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), -o-linear-gradient(left, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(18, 16, 16, 0)), color-stop(50%, rgba(0, 0, 0, 0.25))), -webkit-gradient(linear, left top, right top, from(rgba(255, 0, 0, 0.06)), color-stop(rgba(0, 255, 0, 0.02)), to(rgba(0, 0, 255, 0.06)));
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: -1;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
  }
  
.desktop {
    height: 100%;
    width: 100%;
    border: none;
    -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.top-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 4px 12px;
    background-color: rgba($color: #ddd, $alpha: 1.0);
    -webkit-box-shadow: inset 0 1px 0 0 #eee,inset 0 -1px 0 0 #bbb,0 10px 20px 0 rgba(0,0,0,.06);
            box-shadow: inset 0 1px 0 0 #eee,inset 0 -1px 0 0 #bbb,0 10px 20px 0 rgba(0,0,0,.06);
    span.item {
        margin: 0 .5rem;
    }
}
.spacer {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}
.window {
    border-radius: 4px 4px 4px 4px;
    -webkit-transition: opacity 300ms ease-in;
    -o-transition: opacity 300ms ease-in;
    transition: opacity 300ms ease-in;
    position: absolute;
    opacity: 1;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: var(--window-background);
    max-width: 100%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    &-buttons {
        border-radius: 4px 4px 0 0;
        height: 24px;
        min-width: 24px;
        background: var(--window-topbar-background);
        border-bottom: var(--window-border-color) 1px solid;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: stretch;
            -ms-flex-pack: stretch;
            justify-content: stretch;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 0 12px;
        -webkit-box-shadow: inset 0 1px 0 0 #eee,inset 0 -1px 0 0 #bbb,0 10px 20px 0 rgba(0,0,0,.06);
                box-shadow: inset 0 1px 0 0 #eee,inset 0 -1px 0 0 #bbb,0 10px 20px 0 rgba(0,0,0,.06);
    }
    &-inner {
        min-width: 300px;
        min-height: 200px;
        padding: 12px;
    }
    -webkit-filter: drop-shadow(8px 8px 12px rgba(0,0,0,.25));
            filter: drop-shadow(8px 8px 12px rgba(0,0,0,.25));
    
    @for $i from 1 through $windows {
        &:nth-of-type(#{$i}) {
            left: 2rem * $i;
            top: 2rem * $i;
        }
    }
}
.window-title {
    &:hover {
        cursor:pointer;
    }
    white-space: nowrap;
}
.topbartexture {
    background-image: url('/img/border.svg');
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 80%;
    height: 12px;
    margin: 0 8px;
    mix-blend-mode: multiply;
    &:hover {
        cursor:pointer;
    }
}

.desktop-icon {
    display: block;
    img {
        height: 64px;
        width: 64px;
        -o-object-fit: contain;
           object-fit: contain;
        padding: 12px 12px 0px 12px;
    }
    &::after {
        content: attr(data-title);
        text-align: center;
        display: block;
        max-width: 64px;
        padding: 0 12px;
        font-size: 11px;
        color: white;
        font-weight: 400;
        text-decoration: none;
    }
}

#applications {
    width: 300px;
    padding: 12px;
    position: relative;
    left: 20px;
    top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 3rem;
}
.close-button {
    min-width: .75rem;
    min-height: .75rem;
    text-align: center;
    background: rgba($color: #000, $alpha: 0.05);
    border: 1px solid var(--window-border-color);
    &:hover {
        background: rgba($color: #000000, $alpha: 0.1)
    }
}
.hidden {
    opacity: 0;
}
#spinfish iframe {
    max-width: 80vw;
    width: 600px;
}
.scanline {
    width: 100%;
    height: 100px;
    z-index: 8;
    background: -o-linear-gradient(
        bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(255, 255, 255, 0.2) 10%,
        rgba(0, 0, 0, 0.1) 100%
    );
    background: -webkit-gradient(
        linear,
        left bottom, left top,
        from(rgba(0, 0, 0, 0)),
        color-stop(10%, rgba(255, 255, 255, 0.2)),
        to(rgba(0, 0, 0, 0.1))
    );
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(255, 255, 255, 0.2) 10%,
        rgba(0, 0, 0, 0.1) 100%
    );
    opacity: 0.1;
    position: absolute;
    bottom: 100%;
    -webkit-animation: scanline 15s linear infinite;
            animation: scanline 15s linear infinite;
}
@-webkit-keyframes scanline {
    0% {
        bottom: 100%;
    }
    60% {
        bottom: 100%;
    }
    100% {
        bottom: 0%;
    }
}
@keyframes scanline {
    0% {
        bottom: 100%;
    }
    60% {
        bottom: 100%;
    }
    100% {
        bottom: 0%;
    }
}
.page-bg {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    .bg-item {
        height: 100vh;
        min-width: 100vw;
        -o-object-fit: cover;
           object-fit: cover;
        -o-object-position: center;
           object-position: center;
    }
    iframe.bg-item {
        position: absolute;
        top: 50%;
        left: 50%;
        width: var(--video-width);
        height: var(--video-height);
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }
}
.flex-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
}
.flex-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
}
.m-r {
    margin-right: .5rem;
}
.button {
    font-family: 'ChicagoFLF', sans-serif;
    -webkit-box-shadow: inset 0 1px 0 0 #eee,inset 0 -1px 0 0 #bbb,0 10px 20px 0 rgba(0,0,0,.06);
            box-shadow: inset 0 1px 0 0 #eee,inset 0 -1px 0 0 #bbb,0 10px 20px 0 rgba(0,0,0,.06);
    border-radius: 4px;
    border: solid 1px var(--window-border-color);
    -webkit-filter: drop-shadow(0 1px 0 0 #eee);
            filter: drop-shadow(0 1px 0 0 #eee);
}
.contact-form {
    input, textarea {
        font-family: 'ChicagoFLF', sans-serif;
        font-size: 12px;
        width: 100%;
    }
}
.grecaptcha-badge { 
    visibility: hidden;
}
.tos {
    max-width: 80vw;
    width: 600px;
}